.conteiner {
  background-image: url(/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 5em;
  min-height: 95vh;
  display: flex;
  align-items: center;
  height: auto;
     
}